.lmj-boody {
	position: absolute;
	padding: 10px;
	left: 24%;
	height: calc(100vh -32px);
    display: flex;
    flex-direction: column;
	top: 22%;
	width: 74%;
}

.lmj-plant-list {
	margin-left: 10%;
    list-style-type: none;
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	
}
.lmj-img{
	width: 45%;
	height: 45%;
}